<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="coloredHighlight"
                    converterClass="org.grammarParser.logging.ColoredHighlighting"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%white%d{yyyy-MM-dd HH:mm:ss} | %coloredHighlight(%-5(%level)) | %cyan(%logger{10}) : %msg%n
            </pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH:-./logs}/latest.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-./logs}/%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %.-5(%level) | %.-60(%logger{30}) : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>c
    </root>
</configuration>